<!-- Página Principal Tu Pagina Web Hoy
    Created on : 10/11/2018, 02:03:20 PM
    Author     : Fernando R. Betancourt
    Cell       : 55 38153640
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
    <script id="usercentrics-cmp" src="https://app.usercentrics.eu/browser-ui/latest/loader.js" data-settings-id="__y3wcTRLqSb_X" async></script>
        <link rel="icon" href="/images/betha.svg"></link>
        <title>Tu Pagina Web Hoy - TuPaginaWebHoy - Inicio</title>
        <meta name="msvalidate.01" content="63A343C326B78EC40E0D40A3292CA1EC" />
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Tu Pagina Web Hoy."></meta>
        <link rel="stylesheet" type="text/css" href="/css/contacto.css" media="screen"></link>
        <link rel="stylesheet" type="text/css" href="/css/footer.css" media="screen"></link>
        <link rel="stylesheet" type="text/css" href="/css/formulario.css" media="screen"></link>
        <link rel="stylesheet" type="text/css" href="/css/mensaje.css" media="screen"></link>
        <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen"></link>
		<link rel="stylesheet" type="text/css" href="/css/productos.css" media="screen"></link>
		<link rel="stylesheet" type="text/css" href="/css/TuPaginaWebHoy.css" media="screen"></link>

    	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" ></link>
		<link href="<c:url value='/css/TuPaginaWebHoy.css'/>" rel="stylesheet">

        <!-- Bootstrap		-->
        <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-KMKEGWM6RD">
		</script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-KMKEGWM6RD');
		</script>
    </head>
    
<body class="cuerpo" id="cuerpo" style="background:linear-gradient(100deg,black,blue 100%); background-size:cover; -moz-background-size:cover; -webkit-background-size:cover; -o-background-size:cover;">
        <!-- End Google Tag Manager -->

    <nav class="navbar navbar-default" role="navigation" style="background:#0c005b;" >
      	<div class="container">
	        <a class="navbar-brand" href="index">
		      <img alt="logo" src="/images/betha.svg" class="nav-logo" width="auto" height="auto"></img>
		    </a>

	        <div class="navbar-header" onClick={myFunction}>
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
   	        <div class="navbar-collapse collapse" id="myLinks">
		        <ul class="nav navbar-nav navbar-right" >
		           <li><a href="https://tupaginawebhoy.up.railway.app"  onClick={myFunction}>INICIO   </a></li>
		           <li><a href="blog"       	 						onClick={myFunction}>BLOG     </a></li>
		        </ul>
		    </div>
	     </div>
	  </nav>

		<section id="registro">
		
		  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <form class="form-horizontal">
            <center>
				<legend class="titulo">Registro de su Comentario en el Blog Exitoso.</legend>
            </center>
            <div class="col-md-12">
              <div class="contenido">Gracias por sus Comentarios.</div>
              <div class="contenido">Confirme mediante el Link enviado a su Cuenta de Correo para mostrar su Comentario.</div>
			</div>
			
			<div class="form-group">
			  <div class="col-md-12">
				  <center>
			    	<button id="regresar" 	name="regresar" class="btn btn-danger" ><a href="https://tupaginawebhoy.up.railway.app/" target="_self">Regresar</a></button>
				  </center>			 
			  </div>
			</div>
		</form>
		
		<br></br>
		<br></br>
		<br></br>
		</div>
		</section>

	    <footer class="footer">
		    <a href="https://wa.me/+525548837137" >
		       <img alt="Sigueme en WhatsApp" height="30" src="/images/whatsapp.png" title="sigueme en whasapp" width="30" pading="5px" />
		    </a>
		    <a href="https://www.facebook.com/SistemasBetha/" >
		       <img alt="Sigueme en Facebook" height="30" src="/images/face.png" title="sigueme en facebook" width="30" pading="5px" />
		    </a>
		    <a href="https://aboutme.google.com/?hl=es-419" >
		       <img alt="Sigueme en Google+" height="30" src="/images/Google.png" title="sigueme en Google+" width="30" pading="5px" />
		    </a>
		    <a href="https://twitter.com/Fernand89270455" >
		       <img alt="Sigueme en Twitter" height="30" src="/images/Twitter.png" title="sigueme en Twitter" width="30" pading="5px" />
		    </a>
		    <a href="https://www.linkedin.com/in/fernando-betancourt-b14b97292/" >
		       <img alt="Sigueme en Linkedin" height="30" src="/images/linkedin.png" title="sigueme en Linkedin" width="30" pading="5px" />
		    </a><br></br>
		    &#169; Copyright 2018
		    <br></br>Contacto:<a href="mailto:ferbethasistemas@gmail.com"> tupaginawebhoy.mx@gmail.com </a>.
	    </footer>
		<br></br>
		<br></br>
		<br></br>
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- /* https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js */
    **  CHAT  **   -BEGIN JIVOSITE CODE   El codigo de identificacion es: SOhNu5t6IR  El mío:CZndraalDx-->
    <!-- Ruta para Administrar el Chat:  https://app.jivosite.com/chat/my/1  -->
    <script type='text/javascript'>
    (function(){
    	//var widget_id = 'CZndraalDx';//La de Fer
    	//var widget id = 'MA0Ck7E0G6'; //la de tupaginawebhoy
    	//var widget id = 'J6VFqkG9cJ'; //la de resarcitorias
      var widget_id = 'MA0Ck7E0G6';
    	var d=document;
    	var w=window;
    	function l(){
    		var s = document.createElement('script');
    		s.type = 'text/javascript';
    		s.async = true;
    		/* Original: s.src = '//code.jivosite.com/script/widget/'+widget_id; */
    		s.src = '//code.jivosite.com/script/widget/'+widget_id;
    		var ss = document.getElementsByTagName('script')[0];
    		ss.parentNode.insertBefore(s, ss);
    	}
    	if(d.readyState=='complete'){l();}
    	else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
    <!-- END JIVOSITE CODE -->

    <script type='text/javascript'>
 
	function myFunction() {
	  //console.log("Click");
	  var menus = document.getElementById("myLinks");
	  if (menus.style.display === "block") {
	      menus.style.display = "none";
	  } else {
	      menus.style.display = "block";
	  }
	  //console.log("fin Click");
	}
	function myRegistro() {
		  var correo = document.getElementById("correo");
		  var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
		  console.log("Inicio Registro:"+correo.value);
		  if (emailRegex.test(correo.value)) {
		      	//valido.innerText = "válido";
				console.log("Correo Valido");
				try {
					//var usuario = "${usuario.setemail("+correo.value+")}";  
					usuario.setemail(correo.value);
					console.log("TPWH-usuario:"+usuario.toString());
					console.log("TPWH-NewUsuario:"+usuariosService.newUsuario("${usuario}"));	//th:text="${dia}"
				}catch(error){
					console.log("error:"+error);
				}
		    } else {
		    	console.log("Correo No Valido");
		    }
		  console.log("Fin Registro");
		}
    </script>
    <!-- END myFunction CODE -->
</html>