footer {
  min-height: 50px;
  color:white;
  text-align:center;
  border-top:2px solid rgba(255,255,255, 0.3);
  width:100%;
  position:fixed;
  bottom:0;
}

.medical-disclaimer {
    font-size: 0.75rem; /* Letra pequeña y discreta */
    color: #888;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto;
}