/* .navbar aplica en el espacio vacío del nav y la pantalla #0c005b*/
.navbar{background:#0c005b;}

/* .nav aplica exclusivamente dónde se encuentran los botones inicio, nosotros, etc. */
.nav{background:#0c005b; border-width:1px;margin-left:0%;}

/* navbar-brand Aplica exclusivamente en el Area donde esta el Logo */
.navbar-brand{background:#0c005b; width:auto;} /* puede ser 100px */

/* navbar-header Aplica exclusivamente Cuando se Habilita el Toogle Navigator */
.navbar-header{background:#0c005b;}

/* navbar-collapse Aplica exclusivamente en el Area entre el Logo y los Botones(inicio, nosotros, etc) */
.navbar-collapse{background:#0c005b;}

/* Ocultar la información destinada sólo para los lectores de pantalla desde el diseño de la página representada */
/*
.sr-only { text-align:center; height:100px; width:850px; display:inline-block; font-size:18px; }
*/

/* Si el Dispositivo esta Vertical */
@media (orientation:portrait){
  .navbar{background:blue;}
}

/* Codigo del Nav Button */
.is-block{
  display:block;
}
.topnav #myLinks {
  display:none;
}
.topnav li {
  color:white;
  text-decoration:none;
  font-size:17px;
  display:block;
}

/* Style the navigation menu */
.container{
  overflow:hidden;
  position:relative;
}

/* Inicia Animacion del Logo */
.nav-logo {
  animation:nav-logo-spin infinite 20s linear;
  min-height:1vh;
  max-height:5vh;
  pointer-events:none;
}
@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Termina Animacion del Logo */
