<!-- Página Principal: TuPaginaWebHoy
    Created on : 10/11/2018, 02:03:20 PM
    Author     : Fernando R. Betancourt
    Cell       : 55 4883 7137
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <link rel="icon" href="/images/betha.svg"></link>
        <title>Tu PAgina Web Hoy - Registro</title>
        <meta name="msvalidate.01" content="63A343C326B78EC40E0D40A3292CA1EC" />        
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Cookies."></meta>
        <link rel="stylesheet" type="text/css" href="/css/footer.css" media="screen"></link>
        <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen"></link>
		<link rel="stylesheet" type="text/css" href="/css/TuPaginaWebHoy.css" media="screen"></link>
		
    	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" ></link>
		<link href="<c:url value='/css/TuPaginaWebHoy.css'/>" rel="stylesheet">

        <!-- Bootstrap		-->
        <link   href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>

    </head>
    <body class="cuerpo" id="cuerpo" style="background:linear-gradient(100deg,black,blue 100%); background-size:cover; -moz-background-size:cover; -webkit-background-size:cover; -o-background-size:cover;">
        <!-- End Google Tag Manager -->

    <nav class="navbar navbar-default" role="navigation" style="background:#0c005b;" >
      	<div class="container">
	        <a class="navbar-brand" href="#index">
		      <img alt="logo" src="/images/betha.svg" class="nav-logo" width="auto" height="auto"></img>
		    </a>
	      
	        <div class="navbar-header" onClick={myFunction}>
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
   	        <div class="navbar-collapse collapse" id="myLinks">
		        <ul class="nav navbar-nav navbar-right" >
		           <li><a href="index"      	 onClick={myFunction}>INICIO   </a></li>
		           <li><a href="login"       	 onClick={myFunction}>LOGIN    </a></li>
		        </ul>
		    </div>
	     </div>
	    </nav>

		<section id="cookies">
		
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" witdth="832px" margin="300px" padding="300" box-sizing="border-box">
        
			<div class="body">
			  <article>
			    <h1>Política de cookies</h1>
			      <p>Nuestra Política de Cookies tiene por finalidad informarle de forma clara y completa sobre el funcionamiento y la finalidad de las cookies que utilizamos en la página web
			        <a href="http://www.tupaginawebhoy.com/">www.tupaginawebhoy.com</a>
			        (en adelante, la Plataforma).
			        En caso de que quieras recabar más información sobre las cookies, puede enviar un correo electrónico a
			        <a href="mailto:ferbethasistemas@gmail.com">ferbethasistemas@gmail.com</a>.
			      </p>
			    <h2>Cookies</h2>
			      <p>Una cookie es un archivo que se descarga en tu equipo terminal/dispositivo (ordenador o equipo móvil)
			        con la finalidad de almacenar datos que podrán ser actualizados y recuperados por la entidad responsable de su instalación.
			        TuPaginaWebHoy cuando utiliza "cookies" es con la finalidad de poder recabar información acerca de su funcionamiento y uso de los usuarios.
			      </p>
			      <p>Nosotros no almacenamos información sensible de identificación personal como tu dirección, contraseña,
			        los datos de tu tarjeta de crédito o débito, etc. en las cookies que utilizamos.
			      </p>
			    <h2>Finalidad</h2>
			      <p>Las cookies pueden recabar información sobre tus visitas a nuestra Plataforma, la frecuencia y duración de estas,
			        las páginas visionadas y el tiempo que has estado en nuestra Plataforma.
			        Te informo de que podemos utilizar cookies con la finalidad de:</p>
			      <ul>
			        <li>
			          <p>Identificar posibles mejoras para nuestra Plataforma</p>
			        </li>
			        <li>
			          <p>Facilitar a tu navegador en nuestra Plataforma</p>
			        </li>
			        <li>
			          <p>Ofrecerte una mejor experiencia en su uso</p>
			        </li>
			        <li>
			          <p>Distinguirte de otros usuarios</p>
			        </li>
			      </ul>
			      <p>Asimismo, cuando se vayan a utilizar cookies te solicitamos tu consentimiento para utilizar cookies que nos permitan
			        obtener más información acerca de tus preferencias y personalizar nuestra Plataforma para ajustarla a sus intereses.
			      </p>
			    <h2>Clases de cookies</h2>
			      <p>Nuestra Plataforma utiliza cookies propias y de terceros con diferentes finalidades, concretamente:</p>
			      <p>
			        <strong>Cookies propias</strong></p>
			      <p>Son enviadas a tu ordenador y gestionadas exclusivamente por nosotros para el mejor funcionamiento de la Plataforma.
			        Estas cookies permanecen en tu navegador y nos permiten identificarte como usuario recurrente de la Plataforma,
			        controlar la sesión de usuario, recuerdan la configuración de las cookies,
			        reconocerte como usuario en caso de realizar trámites de identificación y personalizar tu contenido para ofrecerte
			        contenidos adecuados a tus preferencias (cookies de personalización).
			      </p>
			      <p>
			        <strong>Cookies de terceros</strong></p>
			      <p>Las cookies de terceros son aquellas establecidas por un dominio diferente de nuestra Plataforma.
			        En nuestra Plataforma utilizamos dos tipos de cookies de terceros:</p>
			      <ul>
			        <li>
			          <p>Cookies Técnicas: Te permiten navegar a través de la Plataforma y
			            utilizar los servicios en ella disponibles como, por ejemplo,
			            controlar la comunicación de datos,
			            realizar una compra,
			            almacenar contenidos,
			            personalizar el idioma y la moneda,
			            los tests de comprobación de formato,
			            compartir contenidos a través de redes sociales de acuerdo a tus intereses como usuario,
			            acelerar la carga de la página, etc.,
			            tales como Facebook.</p>
			        </li>
			        <li>
			          <p>Cookies Analíticas: Utilizamos Google Analytics,
			            una herramienta de análisis web de Google que nos permite informarnos sobre cómo interactúan los usuarios de nuestra Plataforma.
			            Asimismo, habilita cookies para saber desde qué página ha accedido el usuario y las utiliza para recopilar información de
			            forma anónima y elaborar informes de tendencias de la Plataforma sin identificar a usuarios individuales.
			            Puedes consultar más información sobre las cookies de Google Analytics y su funcionamiento en el sito web de:
			            <a target="blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es">
			              developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
			            </a>
			          </p>
			        </li>
			      </ul>
			    <h2>Consentimiento</h2>
			      <p>Al navegar y continuar en nuestra Plataforma, estarás consintiendo el uso de las cookies antes enunciadas en las condiciones contenidas en la presente Política de Cookies.</p>
			      <p>Te informamos de que dado que las cookies no son necesarias para el uso de nuestra Plataforma,
			        puedes bloquearlas o deshabilitarlas a través de la configuración de tu navegador.
			        Si las bloqueas o deshabilitas podrás seguir usando nuestra Plataforma,
			        aunque el uso de algunos de los productos o servicios podrá ser limitado y
			        por tanto tu experiencia en TuPaginaWebHoy será menos satisfactoria.</p>
			      <p>Si deseas revocar tu consentimiento informado respecto a nuestra política de cookies,
			        deberás eliminarlas en tu dispositivo a través de la configuración de tus navegadores de internet.
			        Estos son los enlaces de los distintos navegadores que informan sobre las cookies:</p>
			      <p>Firefox:
			        <a target="blank" href="https://www.mozilla.org/es-ES/privacy/websites/">https://www.mozilla.org/es-ES/privacy/websites/</a>
			      </p>
			      <p>Chrome:
			        <a target="blank" href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a>
			      </p>
			      <p>Explorer:
			        <a target="blank" href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a>
			      </p>
			      <p>Safari:
			        <a target="blank" href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a>
			      </p>
			      <p>Opera:
			        <a target="blank" href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a>
			      </p>
			      <p>Te recomiendo revisar la política cada vez que accedas a TuPaginaWebHoy con el objetivo de estar adecuadamente informado sobre posibles cambios.</p>
			    </article>
			</div>
		
		<br></br>
		<br></br>
		<br></br>
		</div>
		</section>

	    <footer class="footer">
		    <a href="https://wa.me/+525548837137" >
		       <img alt="Sigueme en WhatsApp" height="30" src="/images/whatsapp.png" title="sigueme en whasapp" width="30" pading="5px" />
		    </a>
		    <a href="https://www.facebook.com/SistemasBetha/" >
		       <img alt="Sigueme en Facebook" height="30" src="/images/face.png" title="sigueme en facebook" width="30" pading="5px" />
		    </a>
		    <a href="https://aboutme.google.com/?hl=es-419" >
		       <img alt="Sigueme en Google+" height="30" src="/images/Google.png" title="sigueme en Google+" width="30" pading="5px" />
		    </a>
		    <a href="https://twitter.com/Fernand89270455" >
		       <img alt="Sigueme en Twitter" height="30" src="/images/Twitter.png" title="sigueme en Twitter" width="30" pading="5px" />
		    </a>
		    <a href="https://www.linkedin.com/in/fernando-betancourt-b14b97292/" >
		       <img alt="Sigueme en Linkedin" height="30" src="/images/linkedin.png" title="sigueme en Linkedin" width="30" pading="5px" />
		    </a><br></br>
		    &#169; Copyright 2018
		    <br></br>Contacto:<a href="mailto:ferbethasistemas@gmail.com"> tupaginawebhoy.mx@gmail.com </a>.
	    </footer>
		<br></br>
		<br></br>
		<br></br>
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- /* https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js */
    **  CHAT  **   -BEGIN JIVOSITE CODE   El codigo de identificacion es: SOhNu5t6IR  El mío:CZndraalDx-->
    <!-- Ruta para Administrar el Chat:  https://app.jivosite.com/chat/my/1  -->
    <script type='text/javascript'>
    (function(){
    	//var widget id = 'kheGK3xRWH'; //la de iglesiastanica
      var widget_id = 'kheGK3xRWH';
    	var d=document;
    	var w=window;
    	function l(){
    		var s = document.createElement('script');
    		s.type = 'text/javascript';
    		s.async = true;
    		/* Original: s.src = '//code.jivosite.com/script/widget/'+widget_id; */
    		s.src = '//code.jivosite.com/script/widget/'+widget_id;
    		var ss = document.getElementsByTagName('script')[0];
    		ss.parentNode.insertBefore(s, ss);
    	}
    	if(d.readyState=='complete'){l();}
    	else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
    <!-- END JIVOSITE CODE -->

    <!-- INICIO myFunction CODE -->
    <script type='text/javascript'> 
	function myFunction() {
	  //console.log("Click");
	  var menus = document.getElementById("myLinks");
	  if (menus.style.display === "block") {
	      menus.style.display = "none";
	  } else {
	      menus.style.display = "block";
	  }
	  //console.log("fin Click");
	}
    </script>
    <!-- END myFunction CODE -->
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CKP3YN4F2T"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-CKP3YN4F2T');
	</script>
</html>